.expand-daily-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 1.2rem;
    justify-content: center;
    align-items: center;
}

.expand-daily-container div {
    flex-basis: 25%;
    margin: 5px;
}
