.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 45px;
}

.nav-bar-router-container {
    width: 60%;
}

.nav-bar-router-container nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
}

.nav-bar-router-container nav li {
    color: white;
    list-style: none;
}

.nav-bar-router-container a {
    text-decoration: none;
    font-size: 2rem;
}

.nav-bar-router-container nav li:hover {
    color: #707070;
}

.search-and-units-container {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
}

.search-container {
    margin: auto;
    height: 100%;
}
