.container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-container h1 {
    font-weight: 900;
}

.title-container-2 {
    font-weight: 900;
    margin-top: 0;
}

.today-container {
    display: flex;
}

.word-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 5%;
    width: 30%;
}
